{% extends 'baseuser.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="container">

    <table class="table" style="text-align: center">
        {# <thead>
            <tr>
            <th colspan="2">
                YOUR PROFILE
            </th>
        </tr>
        <tr>
            <td>
                Username:
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
        </tr>
        <tr>
            <td>
                FirstName:
            </td>
        </tr>
        <tr>
            <td>
                LastName:
            </td>
        </tr>
         </thead>

         <tbody>
            {% for user in data %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{user.getId()}}</td>
                    <td>{{user.getUsername()}}</td>
                    <td>{{user.getPassword()}}</td>
                    <td>{{user.getFirstName()}}</td>
                    <td>{{user.getLastName()}}</td>
                    <td>
                        <a href="{{path('app_edit_user',{'id':user.getId()})}}" class="btn btn-danger"> Edit</a>
                        
                        
                    </td>
                </tr>
             {% endfor %}
        </tbody> #}



    <h1>User Profile</h1>
    <tr>
        <td>user name</td>
        <td>first name</td>
        <td>last name</td>
        <td>Act</td>
    </tr>
    {# <dl>
        <dt>Username:</dt>
        <dd>{{ user.username }}</dd>
        <dt>First Name:</dt>
        <dd>{{ user.firstName }}</dd>
        <dt>Last Name:</dt>
        <dd>{{ user.lastName }}</dd>
        <!-- Thêm thông tin khác của người dùng vào đây -->
    </dl> #}
    <tr>
        
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td><a href="{{ path('app__profile', {'id': user.id}) }}">Edit Profile</a></td>
    </tr>

    </table>
</div>
{% endblock %}

