{# {% extends 'base.html.twig' %} #}

{% block title %}Register{% endblock %}
{% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
            crossorigin="anonymous">

            <link rel="stylesheet" href="{{asset('css/adminindex.css')}}"/>

            
{% endblock %}
{% block body %}
    <h1>Register</h1>

    {# {{ form_errors(RegistrantionCustomerFormType) }} #}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.Uesrname) }}
        {{ form_row(registrationForm.Customer_firstname) }}
        {{ form_row(registrationForm.Customer_lastname) }}
        {{ form_row(registrationForm.Password, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
