{% extends 'baseuser.html.twig' %}

{% block title %}Hello ModifyProfileController!{% endblock %}
{% block stylesheets %}
      <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
      <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css"/>
      <link href="{{ asset('css/responsive.css') }}" rel="stylesheet" type="text/css"/>
      {# <img src="{{ asset('Images/fevicon.png') }}" alt="Fevicon"/> #}
      <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
      <link href="{{ asset('css/jquery.mCustomScrollbar.min.css') }}" rel="stylesheet"/>
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans:400,700&display=swap&subset=latin-ext" rel="stylesheet">
      <link href="{{ asset('css/owl.carousel.min.css') }}" rel="stylesheet"/>
      <link href="{{ asset('css/owl.theme.default.min.css') }}" rel="stylesheet"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<style>
   
</style>

<div class="container">
    <table width="50%">
        <tr>
            <th colspan="2">
                YOUR PROFILE
            </th>
        </tr>
        <tr>
            <td>
                Username:
                <input name="" id="userRegistration" class="" type="text" value="">
            </td>
        </tr>
        <tr>
            <td>
                Email:
                <input name="" id="userRegistration" class="" type="text" value="">
            </td>
        </tr>
        <tr>
            <td>
                Phone number:
                <input name="" id="userRegistration" class="" type="text" value="">
            </td>
        </tr>
        <tr>
            <td>
                Address:
                <input name="" id="userRegistration" class="" type="text" value="">
            </td>
        </tr>
        <tr id="userRegistration">
            <td colspan="2">
                <button type="submit" ><a href="">Modify</a></button>
            </td>
        </tr>
        {# {% for user in data %} #}
                {# <tr>
                    <td>{{loop.index}}</td>
                    <td>{{user.getId()}}</td>
                    <td>{{user.getUsername()}}</td>
                    <td>{{user.getPassword()}}</td>
                    <td>{{user.getFirstName()}}</td>
                    <td>{{user.getLastName()}}</td>
                    {# <td>
                        <a href="{{path('app_edit_user',{'id':user.getId()})}}" class="btn btn-danger"> Edit</a>
                        <a href="javascript:deleteuser('{{path('app_delete_user',{'id':user.getId()})}}')" class="btn btn-warning"> Delete</a> 
                        
                    </td> #}
                {# </tr> #}
             {# {% endfor %} #}
    </table>
</div>
{% endblock %}
{% block javascripts %}
      <script src="{{ asset('js/jquery.min.jss') }}"></script>
      <script src="{{ asset('js/popper.min.js') }}"></script>
      <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ asset('js/jquery-3.0.0.min.js') }}"></script>
      <script src="{{ asset('js/plugin.js') }}"></script>
      <script src="{{ asset('js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
      <script src="{{ asset('js/custom.js') }}"></script>
      <script src="{{ asset('js/owl.carousel.js') }}"></script>
   



      {# <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script> #}
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>  
      <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "100%";
         }
         
         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
         }
</script> 
 {# <script> alert("{{Confirm succesfully}}");</script> #}
{% endblock %}