
{% extends 'baseuser.html.twig' %}

 
    


{% block body %}

<div class="container">
    <table class="table" style="text-align: center;">
        <thead>
            <tr>
                <th>No</th>
                <th>Customer Name</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for inv in data %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ inv.getCustomerName() }}</td>
                <td>{{ inv.getCustomerAddress() }}</td>
                <td>{{ inv.getCustomerPhone() }}</td>
                <td>{{ inv.getTotalPrice() }}$</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


{% block javascripts %}
 <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "100%";
         }
         
         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
         }
      </script> 
{% endblock %}






